<hr>
<h1>Doug - {{section.settings.title}}</h1>

{% comment %}
  {{section.settings.label}}
  {{section.settings.text}}
  {{section.settings.hero_size}}
  {{section.settings.text_size}}
  {{section.settings.button_label}}
  {{section.settings.button_link}}
{% endcomment %}



<form action="{{section.settings.button_link}}">
  <span>{{section.settings.text}}</span>
  <input type="submit" value="{{section.settings.button_label}}"/>
</form>
<hr>

{% schema %}
  {
    "name": "Jim Biffany",
    "class": "index-section index-section--flush",

    "settings": [
      {
        "type": "text",
        "id": "jbtext",
        "label": "JB Text",
        "default": "Here is some default text"
      },
      {
        "type": "select",
        "id": "alignment",
        "label": "Image alignment",
        "default": "center",
        "options": [
          {
            "value": "top",
            "label": "Top"
          },
          {
            "value": "center",
            "label": "Middle"
          },
          {
            "value": "bottom",
            "label": "Bottom"
          }
        ]
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Image with text overlay"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text",
        "default": "<p>Use overlay text to give your customers insight into your brand. Select imagery and text that relates to your style and story.</p>"
      },
      {
        "type": "select",
        "id": "hero_size",
        "label": "Section height",
        "default": "medium",
        "options": [
          {
            "label": "Extra Small",
            "value": "x-small"
          },
          {
            "label": "Small",
            "value": "small"
          },
          {
            "label": "Medium",
            "value": "medium"
          },
          {
            "label": "Large",
            "value": "large"
          },
          {
            "label": "Extra Large",
            "value": "x-large"
          }
        ]
      },
      {
        "type": "select",
        "id": "text_size",
        "label": "Text size",
        "default": "medium",
        "options": [
          {
            "label": "Medium",
            "value": "medium"
          },
          {
            "label": "Large",
            "value": "large"
          }
        ]
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Button label"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
      }
    ],
    "presets": [
      {
        "name": "JimBiffany",
        "category": "Text Thingy"
      }
    ]
  }
{% endschema %}
